!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# Python cache
__pycache__/

# VSCode files
.vscode/

# PyTest cache
.pytest_cache/

# Not sure where this came from, but I don't want it
.idea/

# Private information (in production anyways)
.env

# SQLite Databases
*.sqlite

# PDFs
*.pdf